<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    {% csrf_token %} <!-- Inclure le jeton CSRF dans votre template -->


    <title>Document</title>
</head>
<body>

    <table>
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Content</th>
                <th scope="col">id</th>

            </tr>
        </thead>
        <tbody>

            {% for article in articles %}
            <tr id="article-{{ article.id }}">
                <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
                <td>{{ article.id }}</td>


                
<td>
    <button hx-delete="{% url 'delete_article' article.id %}"
    hx-confirm="Are you sure?"
    hx-target="#article-{{ article.id }}"
    hx-headers="{ 'X-CSRFToken': '{{ csrf_token }}' }">
            Delete
    </button>
  </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>



//////////////

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTMX with Django</title>
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
</head>
<body>
    <h1>Article List</h1>
    <button hx-get="{% url 'load_articles' %}" hx-target="#article-list" hx-swap="innerHTML">
        Load Articles
    </button>
    <div id="article-list">
     
    </div>
</body>
</html>
