{% extends 'base.html' %}

{% block body %}
<div class="row">
    <div class="col-12 col-lg-12">
        <div class="card">
            <div class="card-header">Recent Credit Purchase History</div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush table-borderless">
                    <thead>
                        <tr>
                            <th>Amount</th>
                            <th>Price</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for purchase in purchase_history %}
                        <tr>
                            <td>{{ purchase.amount }}</td>
                            <td>{{ purchase.price }} DT</td>
                            <td>{{ purchase.timestamp|date:"d M Y" }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="3">No purchase history found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
