
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles1.css' %}">
    <title>Styled Page</title>
</head>
<body>
    <div class="frame-4">
        <div class="container-6">
            <span class="write-your-prompt">
                Write your prompt :
            </span>
            <span class="select-your-style">
                Select your Style :
            </span>
        </div>
        <div class="container-11">
            <div class="rectangle-1"></div>
            <div class="rectangle-2"></div>
            <div class="container-5">
                <img class="union" src="{% static 'images/Union.png' %}" />
            </div>
            <div class="container-1">
                <img class="polygon-5" src="{% static 'images/polygon7.png' %}" />
            </div>
        </div>
        <div class="container-4">
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
            <div class="container-10">
                <img class="union-1" src="{% static 'images/Union.png' %}" />
            </div>
            <div class="container-2">
                <img class="polygon-4" src="{% static 'images/polygon7.png' %}" />
            </div>
        </div>
        <div class="container-7">
            <div class="container-9">
                <div class="container-8">
                    <div class="container">
                        <img class="rectangle-1" src="{% static 'images/Rectangle 7.png' %}" />
                        <img class="rectangle-2" src="{% static 'images/Rectangle 7.png' %}" />
                    </div>
                    <div class="ellipse-1"></div>
                </div>
                <img class="polygon-1" src="{% static 'images/polygon8.png' %}" />
            </div>
            <div class="container-3">
                <span class="prompt-1">
                    Prompt 1
                </span>
                <span class="prompt-11">
                    Prompt 1
                </span>
            </div>
        </div>
    </div>
</body>
</html>
